
{
"presets": ["@babel/preset-env",["airbnb", {
    "modules": "auto"
    }]]
}

/* The official presets are:

@babel/preset-env
@babel/preset-flow
@babel/preset-react
@babel/preset-typescript

https://blog.jakoblind.no/babel-preset-env/
 */